USE [master]
GO
/****** Object:  Database [LOANMAN]    Script Date: 2018/06/24 18:57:57 ******/
CREATE DATABASE [LOANMAN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LOANMAN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER01\MSSQL\DATA\LOANMAN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LOANMAN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER01\MSSQL\DATA\LOANMAN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LOANMAN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LOANMAN]
GO
USE [LOANMAN]
GO
/****** Object:  Table [dbo].[tbl_Client]    Script Date: 2018/06/24 18:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Client](
	[ClientId] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [varchar](100) NULL,
	[Firstname] [varchar](100) NULL,
	[GenderId] [int] NULL,
	[IDNumber] [varchar](100) NULL,
	[Email] [varchar](100) NULL,
	[MobileNumber] [varchar](50) NULL,
	[TelephoneNumber] [varchar](50) NULL,
	[DOB] [date] NULL,
	[AddressId] [int] NOT NULL,
	[DateAdded] [datetime2](7) NULL,
 CONSTRAINT [PK_tbl_Client] PRIMARY KEY CLUSTERED 
(
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Client_Address]    Script Date: 2018/06/24 18:57:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Client_Address](
	[AddressId] [int] IDENTITY(1,1) NOT NULL,
	[ClientId] [int] NULL,
	[StreetAddress1] [varchar](100) NULL,
	[StreetAddress2] [varchar](250) NULL,
	[City] [varchar](50) NULL,
	[CompanyName] [varchar](100) NULL,
	[CompanyAddress] [varchar](250) NULL,
 CONSTRAINT [PK_tbl_Client_Address] PRIMARY KEY CLUSTERED 
(
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Gender]    Script Date: 2018/06/24 18:57:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Gender](
	[GenderId] [int] NOT NULL,
	[Gender] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_Gender] PRIMARY KEY CLUSTERED 
(
	[GenderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Interest_Rate]    Script Date: 2018/06/24 18:57:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Interest_Rate](
	[InterestRateId] [int] NOT NULL,
	[Interest] [int] NULL,
 CONSTRAINT [PK_tbl_Interest_Rate] PRIMARY KEY CLUSTERED 
(
	[InterestRateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Loan]    Script Date: 2018/06/24 18:57:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Loan](
	[LoanId] [int] NOT NULL,
	[ClientId] [int] NULL,
	[LoanAmount] [decimal](18, 2) NULL,
	[InterestRateId] [int] NULL,
	[RepaymentPeriod] [int] NULL,
	[TotalPayable] [decimal](18, 2) NULL,
	[Instalment] [decimal](18, 2) NULL,
	[LoanDate] [date] NULL,
	[StartPaymentDate] [date] NULL,
	[LastPaymentDate] [date] NULL,
 CONSTRAINT [PK_tbl_Loan] PRIMARY KEY CLUSTERED 
(
	[LoanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_Client]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Client_tbl_Client] FOREIGN KEY([ClientId])
REFERENCES [dbo].[tbl_Client] ([ClientId])
GO
ALTER TABLE [dbo].[tbl_Client] CHECK CONSTRAINT [FK_tbl_Client_tbl_Client]
GO
ALTER TABLE [dbo].[tbl_Client]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Client_tbl_Gender] FOREIGN KEY([GenderId])
REFERENCES [dbo].[tbl_Gender] ([GenderId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_Client] CHECK CONSTRAINT [FK_tbl_Client_tbl_Gender]
GO
ALTER TABLE [dbo].[tbl_Client_Address]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Client_Address_tbl_Client] FOREIGN KEY([ClientId])
REFERENCES [dbo].[tbl_Client] ([ClientId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_Client_Address] CHECK CONSTRAINT [FK_tbl_Client_Address_tbl_Client]
GO
ALTER TABLE [dbo].[tbl_Loan]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Loan_tbl_Client] FOREIGN KEY([ClientId])
REFERENCES [dbo].[tbl_Client] ([ClientId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_Loan] CHECK CONSTRAINT [FK_tbl_Loan_tbl_Client]
GO
ALTER TABLE [dbo].[tbl_Loan]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Loan_tbl_Interest_Rate] FOREIGN KEY([InterestRateId])
REFERENCES [dbo].[tbl_Interest_Rate] ([InterestRateId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_Loan] CHECK CONSTRAINT [FK_tbl_Loan_tbl_Interest_Rate]
GO
USE [master]
GO
